<div class="container">
    <h1 class="title">
      {{ title }}
    </h1>
  
    <form [formGroup]="WOTypeForm" class="form">
     <!-- " <mat-form-field appearance="outline">
        <mat-label>WOTypeId</mat-label>
        <input matInput placeholder="WOTypeId" formControlName="WOTypeId" />
      </mat-form-field>" -->
  
      <mat-form-field appearance="outline">
        <mat-label>WOTypeCode</mat-label>
        <input matInput placeholder="WOTypeCode" formControlName="WOTypeCode" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>WOTypeName</mat-label>
        <input matInput placeholder="WOTypeName" formControlName="WOTypeName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>DurationMinutes</mat-label>
        <input matInput placeholder="DurationMinutes" formControlName="DurationMinutes" />
      </mat-form-field>
    </form>
  
    <button mat-raised-button (click)="!data.wotype ? addWOType() :editWOType() " appHoverBtn>
      Save
    </button>
  </div>
  