<form [formGroup]="recoveryForm" class="form">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="password" type="password" formControlName="NewPassword" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="password" type="password" formControlName="ConfirmedNewPassword" />
    </mat-form-field>

    <button mat-raised-button type="button" (click)="changePassword()">
        Change Password
      </button>
  </form>