<div class="container">
    <h1 class="title">
        Add WoType
    </h1>

    <form [formGroup]="WOTypeForm" class="form">

        <mat-form-field appearance="outline">
            <mat-label>WOTypeCode</mat-label>
            <input matInput placeholder="WOTypeCode" [formControl]="WOTypeCode" />
            <mat-error *ngIf="WOTypeCode.errors && WOTypeCode.errors['required']">
                <span>This field is required!</span>
            </mat-error>
            <mat-error *ngIf="WOTypeCode.errors && WOTypeCode.errors['minlength']">
                <span>Invalid format (min 3 char)!</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>WOTypeName</mat-label>
            <input matInput placeholder="WOTypeName" [formControl]="WOTypeName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>DurationMinutes</mat-label>
            <input matInput placeholder="DurationMinutes" [formControl]="DurationMinutes" />
        </mat-form-field>
    </form>

    <button mat-raised-button [disabled]="WOTypeForm.valid === false" (click)="addWotype()" appHoverBtn>
        Save
    </button>
</div>