<div class="container-fluid">

    <div class="row" style="position: absolute; top:150px">
        <div *ngFor="let woType of woTypes" class="col-md-4">
            <mat-card class="mat-elevation-z6" style="margin: 5px 5px; width: 100%; height: auto;">
                <mat-card-title style="text-align: center;">Nume lucrare: </mat-card-title>
                <mat-card-title style="text-align: center;"> {{woType.woTypeName}}</mat-card-title>
                <mat-card-subtitle>Cod: {{woType.woTypeCode}}</mat-card-subtitle>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <span>
                                Durata medie pentru acest tip de lucrare este de {{woType.durationMinutes}} minute
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>
                                Configureaza tipuri de scenarii
                            </span>
                        </div>
                        <div class="col-md-2">
                            <button mat-mini-fab color="primary"
                                aria-label="Example icon button with a arrow_right_alt icon"
                                [routerLink]="['/features/woTypeScenarios',woType.id]">
                                <mat-icon>arrow_right_alt</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions style="float: right; position: relative; top: -35px;">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a edit icon"
                        (click)="editWOTypeEvent.emit(woType)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                        (click)="deleteWOTypeEvent.emit(woType.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>