<button mat-raised-button style="position: relative; left: 50%;right: 50%; text-align: center;"
    (click)="addWOTypeScenario()" class="add-button">
    Add WOTypeScenario
</button>
<app-wo-type-scenario-list [woTypeScenarios]="woTypeScenarios$ | async"
    (navigateToWOTypeScenarioStepEvent)="navigateToWOTypeScenarioStepEvent($event)"
    (deleteWOTypeScenarioEvent)="deleteWOTypeScenarioEventHandler($event)"
    (editWOTypeScenarioEvent)="editWOTypeScenarioEventHandler($event)">
</app-wo-type-scenario-list>